@{
    Layout = "~/Views/Shared/_Display.cshtml";
}
@model News
<div style="margin-top:-20px;"></div>
<div class="col-md-9">
    <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>@Model.Title</h4>
                <p class="text-muted"><small>发布时间：@Model.Datatime</small> &nbsp;&nbsp;&nbsp;<small>浏览量：<span class="badge">9999+</span></small></p>
            </div>
            <div class="panel-body">
                <p>@Model.Content</p>
            </div>
    </div>
</div>
<div class="col-md-3">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#latestnews" data-toggle="tab">最新新闻</a>
            </li>
            <li>
                <a href="#hotnews" data-toggle="tab">热点新闻</a>
            </li>
            <li>
                <a href="#recommendednews" data-toggle="tab">推荐新闻</a>
            </li>
        </ul>
        <div class="panel">
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="latestnews">
                        @foreach (News latesnews in ViewBag.latestnews)
                        {
                            <a asp-action="News" asp-controller="Show" asp-route-id="@latesnews.Id"><p>@latesnews.Title</p></a>
                        }
                    </div>
                    <div class="tab-pane fade" id="hotnews">
                        @foreach (News hotnews in ViewBag.hotnews)
            {
                            <a asp-action="News" asp-controller="Show" asp-route-id="@hotnews.Id"><p>@hotnews.Title</p></a>
                        }
                    </div>
                    <div class="tab-pane fade" id="recommendednews">
                        @foreach (News recommendednews in ViewBag.recommendednews)
            {
                            <a asp-action="News" asp-controller="Show" asp-route-id="@recommendednews.Id"><p>@recommendednews.Title</p></a>
                        }
                    </div>
                </div>
            </div>
        </div>
</div>