@{ 
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/styles/news.css" type="text/css" rel="stylesheet"/>
@model IEnumerable<News>
<div class="newsbanner">
    <div class="container" style="height:200px;">
        <hgroup>
            <h1>新闻页面</h1>
            <h4>我校最新新闻</h4>
        </hgroup>
    </div>
</div>
<div class="news-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row info-content" >                                       
                            @foreach (var x in Model)
                            {
                                    @*<div class="list-group">
                                        <div class="list-group-item">*@
                                            <div style="height:15px;background-color:#eee;"></div>
                                            <h4 style="margin:10px 0 0 10px;"><a asp-action="News" asp-controller="Show" asp-route-id="@x.Id" style="text-decoration:none;">@x.Title</a></h4>
                                            <p class="text-muted"> <small style="margin:0 0 0 10px;">发布时间：@x.Datatime</small><small class="pull-right" style="margin-right:10px;">浏览量：<span class="badge">99+</span></small></p>
                                            <p style="margin:0 0 15px 10px;">@x.Content</p>
                                            
                                        @*</div>
                                    </div>*@
                                     }
                        </div>
                        @Html.MakePager("pager-item", "active", "pager")
                    </div>
            </div>
            <div style="height:80px;"></div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">推荐新闻</h3>
                    </div>
                    @foreach (var recommendednews in ViewBag.recommendednews)
            {
                        <div class="panel-body">
                            <a asp-action="News" asp-controller="Show" asp-route-id="@recommendednews.Id" style="text-decoration:none;">@recommendednews.Title</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


