@{ 
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model IEnumerable<News>
<div style="margin-top:-20px;"></div>
<div class="col-md-9">
    <div class="container-fluid" id="accordion">
        @foreach (var x in Model)
        {
            <div class="list-group">
                <div class="list-group-item">
                    <h4><a asp-action="News" asp-controller="Show" asp-route-id="@x.Id" style="text-decoration:none;">@x.Title</a></h4>
                    <p> <small>发布时间：@x.Datatime</small><small class="pull-right">浏览量：<span class="badge">99+</span></small></p>
                    <p>@x.Content</p>
                </div>
            </div>
        }
        @Html.MakePager("pager-item", "active", "pager")
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">热点新闻</h3>
        </div>
        @foreach (var x in Model)
        {
            <div class="panel-body">
                <a asp-action="News" asp-controller="Show" asp-route-id="@x.Id" style="text-decoration:none;">@x.Title</a>
            </div>
        }
    </div>
</div>


